@use "sass:map";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$theme-colors: (
  "primary": #252429,
  "secondary": #e5e6ea,
  "base": #c9e8fd,
  "contrast": #1c6080,
);

* {
  font-family: "Fira Sans", sans-serif;
}

// @import 'node_modules/bootstrap-vue/src/index.scss';
nav {
  background: map.get($theme-colors, "contrast");
}
.section_home {
  padding-bottom: 3em;
  background-image: url("../svg/home_banner_1.svg"), url("../svg/home_banner_2.svg"),
    radial-gradient(
      circle farthest-corner at 50% 100%,
      map.get($theme-colors, "base"),
      map.get($theme-colors, "contrast") 46%
    );
  background-position: 50% 100%, 50% 100%, 0 0;
  background-size: 100%, cover, auto;
  background-repeat: no-repeat, no-repeat, repeat;
}

.navbar {
  min-height: 75px;
}

.navbar-light .navbar-brand {
  color: map-get($theme-colors, "secondary");
}
.navbar-light .navbar-brand:hover {
  color: map-get($theme-colors, "primary");
}

.navbar-light .navbar-nav .nav-link {
  color: map-get($theme-colors, "secondary");
}
.navbar-light .navbar-nav .nav-link:hover {
  color: map-get($theme-colors, "primary");
}

.navbar-light .navbar-nav .nav-link.active {
  color: map-get($theme-colors, "primary");
  font-weight: bold;
}

.main_banner {
  color: map.get($theme-colors, "primary");
}
